@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 134, 117, 197;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

main {
  gap: 10rem
}

h1 {
  font-size: 3rem;
  color: #d1b8d5;
}


h2 {
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 5px;
}

p {
  font-size: 1.3rem;
  color: whitesmoke;
}

a {
  color: theme('colors.purple.500');
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.title-container {
  position: relative;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: start;
  text-align: left;


}

img {
  height: 340px;
  width: 363px;
  border-radius: 26%;
  filter: grayscale(3);
  transition: transform 250ms, opacity 400ms;
}

img:hover {
  filter: none;
  transform: scale(1.1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}